html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin: 15px;
    padding: 10px;
}
#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputText{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#button{
    font-size: 20px;
    height: 2vw;
    width: 5vw;
    padding: 0.6%;
}
#buttons{
    align-self: center;
}
#result{
    font-size: 2vw;
    text-align: center;
    color: red;
}
#reset{
    margin: 20px;
    padding: 0.6%;
    font-size: 20px;
    height: 2vw;
    width: 5vw;
}
